<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.body}}
    </p>
    <div>
      <textarea ng-model="$parent.replyText" 
                class="reply-textarea"
                minlength="1" 
                maxlength="100"
                rows="4"></textarea>
    </div>
    <div class="post-error-holder">
      <p class="post-error"
         ng-if="postError">ERROR: Cats Rule, Dogs Drool!</p>
    </div>
    <button class="button button-block button-positive"
            ng-click="postReply()">Reply</button>
  </ion-content>
</ion-view>
