.catbook-photos {
    margin-left: 10px;
    margin-right: 10px;
}

.catbook-photo {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px;
    width: 100%;
    height: 100px;
    border: 1px solid white;
}

@media only screen
    and (min-device-width: 768px) {
        .catbook-photo {
            height: 200px;
        }
    }

.chat-unread {
    font-weight: bolder;
}

.chat-detail-avatar {
     width: 64px; 
     height: 64px;

}

.chat-detail-message-holder {
    padding-bottom: 25px;
}

.chat-detail-message {
    padding-left: 15px;
}

.reply-textarea {
    width: 100%;
    border: 1px solid #DDD;
    resize: none;
}

.post-error-holder {
    width: 100%;
    height: 25px;
}

.post-error {
    padding-top: 5px;
    color: red;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}
